body {
  background: url(http://spacenode.com/dc_includes/fbimg.php?url=http%3A%2F%2F1-background.com%2Fimages%2Fclouds%2Fwhite-clouds-blue-sky-seamless-background-tile.jpg);
}

.navbar {
  background-color: black;
  text-decoration-color: white;
}

.scary {
  font-weight: bold;
  background-color: red;
  color: white;
}